.note {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  align-items: stretch;
  gap: var(--s-1);

  .editor {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: var(--s-1);

    > .inputs {
      display: flex;
      flex-grow: 8;
      flex-flow: column;
      justify-content: space-between;
      gap: var(--s-1);
      min-height: 15ex;

      > label,
      > input,
      > textarea {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    > .final-content {
      flex-grow: 8;
      padding: var(--s-2) var(--s-4);
      inline-size: min-content;
      overflow-wrap: anywhere;
      font-size: var(--s2);
      gap: var(--s0);
    }

    .buttons {
      display: flex;
      flex-flow: column wrap;
      flex: 1;
      min-width: var(--s4);
      gap: var(--s-1);
      justify-content: space-between;

      .edit {
        border-color: black;
        color: black;
        flex: 1;
      }

      .approve {
        border-color: var(--green);
        color: var(--green);
        flex: 1;
      }

      .clear {
        border-color: var(--red);
        color: var(--red);
      }
    }
  }
}
