---
import Timeline from "../components/Timeline";
import Layout from "../layouts/Layout.astro";

---

<Layout title="daynot.es">
  <main>
    <a href="/">
      <h1 aria-label="Daynotes">day<span class="text-gradient">not.es</span></h1>
    </a>
    <hr />
    <h2 class="subtitle">
      Keep track of the small things. They're worth remembering.
    </h2>
    <Timeline client:idle />
  </main>
</Layout>

<style>
  h1 {
    margin: var(--s-1) 0;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  main {
    margin: auto;
    padding: var(--s-1);
    max-width: 60ch;
  }

  hr {
    border: 0;
    border-top: 4px solid black;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--emphasis-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .subtitle {
    line-height: 1.6;
    font-size: large;
    margin: var(--s-1) 0;
    background: var(--oxford-blue);
    padding: var(--s-1);
    border-radius: 0.4rem;
    color: var(--color-bg);
  }
</style>