---
import Timeline from "../components/Timeline";
import Layout from "../layouts/Layout.astro";
---

<Layout title="daynot.es">
  <main>
    <a href="/">
      <h1 aria-label="Daynotes">daynot.<span class="text-gradient">es</span></h1>
    </a>
    <hr />
    <h2 class="subtitle">
      Keep track of the small things. They're worth remembering.
    </h2>
    <ul role="list" class="link-card-grid">
      <Timeline client:idle />
    </ul>
  </main>
</Layout>

<style>
  :root {
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;

    --purple: #4f39fa;
    --pink: #da62c4;

    --emphasis-gradient: linear-gradient(300deg, var(--pink), var(--purple));
  }

  h1 {
    margin: 1rem 0;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  hr {
    border: 0;
    border-top: 4px solid black;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--emphasis-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .subtitle {
    line-height: 1.6;
    font-size: large;
    margin: 1rem 0;
    background: var(--oxford-blue);
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .link-card-grid {
    display: grid;
    gap: 2rem;
    padding: 0;
  }
</style>