---
import Timeline from "../components/Timeline";
import GoogleAuth from "../components/GoogleAuth";
import PageLayout from "../layouts/PageLayout.astro";

const googleOauthClientId = import.meta.env.GOOGLE_OAUTH_CLIENT_ID;
---

<PageLayout>
  <h2 class="subtitle">
    Keep track of the small things. They're worth remembering.
  </h2>
  <GoogleAuth client:only="preact" googleClientId={googleOauthClientId} />
  <Timeline client:idle />
</PageLayout>

<style>
  .subtitle {
    line-height: 1.6;
    font-size: large;
    margin: var(--s-1) 0;
    background: var(--oxford-blue);
    padding: var(--s-1);
    border-radius: 0.4rem;
    color: var(--color-bg);
  }
</style>