---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout pageTitle="Privacy">
  <p>The core goal of this website is to provide a secure and private space for you to record notes from your day to day
    life.</p>
  <br />
  <p>Unless you decide, your notes will never leave the device you are accessing this website on. They will not be
    uploaded
    to <b>any</b>
    external service owned either by
    us or a
    third party.</p>
  <br />
  <p>In the future, we may add the ability to sync your notes with a third party cloud service. If this
    happens it will be on an opt-in basis; your personal information will not be shared unless
    you want it to be.</p>
  <br />
  <p>Anonymous statistics are tracked using Plausible to get an overview of the traffic to the website. The data
    collected is publicly available <a target="_blank" rel="noopener noreferrer"
      href="https://plausible.io/daynot.es">here.</a></p>
  <br />
  <p>For more information about Plausible and how their service
    works, you can check out their <a target="_blank" rel="noopener noreferrer"
      href="https://plausible.io/data-policy#:~:text=The%20goal%20of%20Plausible%20is,any%20personal%20or%20identifiable%20data.">data
      policy.</a></p>
</PageLayout>