---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout pageTitle="Privacy">
  <p>
    The core goal of this website is to provide a secure and private space for
    you to record notes from your day to day life.
  </p>
  <br />
  <p>
    Unless you decide, your notes will never leave the device you are accessing
    this website on. They will not be uploaded to <b>any</b>
    external service owned either by us or a third party.
  </p>
  <br />
  <p>
    In the future, we may add the ability to sync your notes with a third party
    cloud service. If this happens it will be on an opt-in basis; your personal
    information will not be shared unless you want it to be.
  </p>
</PageLayout>
