.note {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  align-items: stretch;
  margin-bottom: var(--s-1);
  gap: var(--s-1);

  .editor {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: var(--s-1);

    > textarea {
      flex-grow: 8;
    }

    > p {
      flex-grow: 8;
      padding: var(--s-2) var(--s-4);
      inline-size: min-content;
      overflow-wrap: anywhere;
    }

    .buttons {
      display: flex;
      flex-flow: column wrap;
      flex: 1;
      min-width: var(--s4);
      gap: var(--s-1);

      .edit {
        border-color: black;
        color: black;
      }

      .approve {
        border-color: var(--green);
        color: var(--green);
      }

      .clear {
        border-color: var(--red);
        color: var(--red);
      }
    }
  }
}
