.note {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: stretch;

  margin-bottom: var(--s1);

  > textarea,
  p {
    flex-grow: 1;
  }

  &.complete {
    flex-flow: row;
    gap: var(--s-1);

    > p {
      inline-size: min-content;
      overflow-wrap: anywhere;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    margin-top: var(--s-4);
    gap: var(--s-1);

    .approve {
      border-color: var(--green);
      color: var(--green);
    }

    .clear {
      border-color: var(--red);
      color: var(--red);
    }
  }
}
