.day {
  list-style: none;
  display: flex;

  .tagline {
    font-size: var(--s1);
    margin: 0;
    margin-top: calc(var(--s-1) * -1);
  }

  .content {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  .mood {
    width: 2rem;
    height: 2rem;
    border-radius: 99%;
    background: var(--pink);
  }

  .controls {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--s-1, 1rem);
    align-items: center;
    margin-top: var(--s-1);
  }

  button.action {
    background: none;
    color: inherit;
    padding: var(--s-4) var(--s-1);
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: var(--s1);
    border: 2px solid black;

    &:is(:focus, :active) {
      outline: var(--s-5) solid var(--oxford-blue);
      outline-offset: var(--s-5);
    }

    i {
      vertical-align: middle;
    }
  }

  textarea.note {
    font-size: var(--s1);
    margin-bottom: var(--s-1);
    border: none;
    height: var(--s5);
    resize: none;

    &:is(:focus) {
      outline: none;
      border: 4px solid black;
      margin: -4px;
      margin-bottom: calc(var(--s-1) + 4px);
      outline-offset: 0;
    }
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  > section {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: var(--s0) var(--s1);
    border-radius: 0.35rem;
    color: var(--text-color);
    background-color: white;
    border: 4px solid black;
    transition: box-shadow 0.2s;

    &:is(:hover, :focus-within) {
      box-shadow: 10px 10px 0 -4px var(--pink), 10px 10px 0 0 black;
    }

    &:is(:active) {
      box-shadow: 12px 12px 0 -4px var(--pink), 12px 12px 0 0 black;
    }

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }

  // Disable hover text for now.
  // &:is(:hover, :focus-within) h2 {
  //   font-weight: 900;
  //   background-image: var(--emphasis-gradient);
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   background-size: 100% 200%;
  //   background-position-y: 100%;
  // }
}
