---
import RootLayout from "./RootLayout.astro";

export interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props as Props;
---

<RootLayout title="daynot.es">
  <main>
    <section class="title">
      <section class="logo">
        <a href="/">
          <h1 aria-label="Daynotes">day<span class="text-gradient">not.es</span></h1>
        </a>
      </section>
      <section class="links">
        <a href="/">Your Notes</a>
        <a href="/backup">Backup/Restore</a>
        <a href="/privacy">Privacy</a>
        <a href="/about">About</a>
        <a href="/source">Source code</a>
      </section>
      <section class="subtitle">
        <h2>{pageTitle}</h2>
      </section>
    </section>
    <slot />
  </main>
</RootLayout>

<style lang="scss">
  h1 {
    margin: var(--s-1) 0;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  main {
    margin: auto;
    padding: var(--s0);
    font-size: var(--s1);
    max-width: 60ch;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    border-left: 4px dashed;

    @media only screen and (max-device-width: 480px) {
      border-left: none;
    }
  }

  hr {
    border: 0;
    border-top: 4px solid black;
  }

  .title {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .links {
    display: flex;
    font-size: var(--s1);
    flex-flow: row wrap;
    gap: var(--s-1);

    a {
      border-bottom: 1px solid black;

      &:is(:hover, :focus) {
        border-bottom: 4px solid black;
        margin-bottom: -3px;
      }
    }
  }

  .subtitle {
    margin-top: var(--s-1);
  }

  .text-gradient {
    font-weight: 900;
    color: var(--dark-pink);
  }
</style>